{% extends 'base.html' %}
{% block title %}ANTENA MIN{% endblock title %}
{% block body %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Site ID</th>
        <th scope="col">Min No.</th>
        <th scope="col">Contact if Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>56324</td>
        <td>1321</td>
        <td>
          <p><a class="btn btn-primary" href="/contact">contact »</a></p>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>56324</td>
        <td>1321</td>
        <td>
          <p><a class="btn btn-primary" href="/contact">contact »</a></p>
        </td>

      </tr>
    </tbody>
  </table>
{% endblock body %}