{% extends 'base.html' %}
{% block title %}UBR MIN{% endblock title %}
{% block body %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Site ID</th>
        <th scope="col">Min Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>IGJH-DUMK-ENB-M-E002</td>
        <td>109371911</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>IGJH-DUMK-ENB-M-E001</td>
        <td>109372076</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>IGJH-DUMK-ENB-M-E004</td>
        <td>109372318</td>
      </tr>
    </tbody>
  </table>
{% endblock body %}
