{% extends 'base.html' %}
{% block title %}Vacancy{% endblock title %}
{% block body %}
<img src="/static/img/v.jpg" class="d-block w-100" alt="...">
<br>
<hr size="4" color="black"><br>
<p><center><font size="+14"><b>Go To Contact Page And Fill The Form For Job Vacancy Or Click The Below Button!(IF VACANCY WILL BE AVAILABLE WE WILL CONTACT YOU)</b></font></center></p>
<div class="container">
    <a href="/contact">
        <center><button class="btn btn-primary" type="submit">Click Here!</button></center>
    </a>
</div>
{% endblock body %}