{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<img src="/static/img/a.jpg" class="d-block w-100" alt="...">
<hr size="4"><br>
<h3 style="text-align:center;"><b>ABOUT US!</b></h3>
<p><center><font size="+2"><b>HELLO! This is Prabhat On This End!
    Otherwise known as the proprietor of this company! 
    <br>We specialise in tower construction (basically Airtel and Jio)</b>
    <div class="container">
        <p><a class="btn btn-primary" href="/services">Click Here For More Info</a></p>
    </div>
    
</font></p>
{% endblock body %}
